/* Uber styles */

html, body, .container {
	height:100%;
	width:100%;
	padding:0;
	margin:0;
}

.container{
	position:absolute;
	overflow:hidden;
}


/* Header */

#header{
	width:100%;
	min-width:600px;
	height:50px;
	background-color:#464646;
	position:absolute;
	top:0;
	left:0;
	z-index:200;
}
#header .searchPane{
	float:left;
	width:250px;
	margin: 12px 10px 0 18px;
	height:28px;
	-webkit-box-shadow:inset 0 0 4px rgba(0, 0, 0, 0.2);
	/* -moz-box-shadow:inset 0 0 4px rgba(0,0,0,0.2); //x Firefox 22.0: unknown property*/
	box-shadow:inset 0 0 4px rgba(0, 0, 0, 0.2);
	-webkit-border-radius: 3px;
	/* -moz-border-radius: 3px; //x Firefox 22.0: unknown property*/
	border-radius: 3px;
	background-color:#575757; /* IE: original #7e7e7e matched the cursor making it effectively invisible */
	position:relative;
}
#header .searchPane input.removeResult
{
    position: absolute;
    display: none;
    top: 6px;
    right: 36px;
    width: 16px;
    height: 17px;
    background: url('../images/delete-search.png') top left no-repeat;
	background-color:transparent;
	border:none;
    cursor: pointer;
	text-indent: -9999em;
	overflow: hidden;
}

#header .searchPane input.text{
	border:none;
	/*line-height:25px;*/
	width:200px;
	margin: 5px 0px 0px 2px;
	background-color:transparent;
	color:#fff;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	outline: none;
}
#header .searchPane input.search-button{
	position: absolute;
	right: 6px;
	top: 6px;
	background: url('../images/search.png') top left no-repeat;
	height: 16px;
	width: 17px;
	overflow: hidden;
	text-indent: -9999em;
	text-transform: capitalize; /* IE7: text-indent alone does not work */
	cursor: pointer;
	border:none;
	background-color:transparent;
}

#header .searchPane .search-dropdown {
	color:#555;
	font-size:13px;
	font-family:Arial, Helvetica, sans-serif;
	height: 18px;
	width:295px;
	padding:0px;
	background-color:#f7f7f7;
}

#header .productType{
	float: left;
	margin: 10px 0 0 0px;
	overflow:hidden;
	text-align: center;
	font-size: 10px;
	font-family:Arial, Helvetica, sans-serif;
	border: 2px solid transparent;
	width: 85px;
}
#header .toolboxIcon{
	float: left;
	margin: 5px 0 0 -5px;
	overflow:hidden;
	text-align: center;
	font-size: 10px;
	font-family:Arial, Helvetica, sans-serif;
	border: 1px solid transparent;
	width: 85px;
}
#header .exportList{
	float: left;
	margin: 7px 0 0 20px;
	overflow:hidden;
	text-align: center;
	font-size: 10px;
	font-family:Arial, Helvetica, sans-serif;
	background: transparent;
	color: whitesmoke;
}
#header .tools{
	float: left;
	margin: 17px 0 0 20px;
	width:40px;
	height:32px;
	border-radius:3px;
	vertical-align:middle;
	overflow:hidden;
	text-align: center;
	font-size: 10px;
	font-family:Arial, Helvetica, sans-serif;
	background-color: transparent;
}
#header .headerLinks
{
	float: left;
	width: 200px;
	height: 20px;
	padding-top:10px;
}
#header .userGuide 
{
	float:right;
	padding-right:5px;
	color: #aaa;
	font-size:13px;
	font-family:Arial, Helvetica, sans-serif;
}
#header .mapLayersLink 
{
	color: #aaa;
	font-size:13px;
	font-family:Arial, Helvetica, sans-serif;
}

#header .logo{
	float:right;
	margin-right:10px;
	padding:6px 0 0 0;
	max-height:60px;
	max-width:330px;
	overflow:hidden;
}

/* Map */

#mapDiv{
	position:relative;
	left:0px;
	height:100%;
}
#map{
	position:relative;
	/* prevent spoiling map when the browser window resized to min height or width and then back */
	min-width:409px; /* #header width - #left-tabs width - #utilityPanel width*/
	min-height:30px; /* height of the esri credit logo text */
	bottom:0px;
	left:0px; /* #left-tabs width+padding+border + #utilityPanel width+padding+border */
	right:0px;
	top:0px;
	z-index:0;
	padding: 3px;
}
.wide{
	left:0px;
}

/* Utilities Panel */

#utilityPanel{
	position:relative;
	top:0;
	left:0px;
	background-color: Window;
	height:100%;
	z-index:4;
	border-right:1px solid #a6a6a6;
	padding: 5px 20px 0 20px;
	-webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
	/* -moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.3); //x Firefox 22.0: unknown property*/
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
	display:block;
	overflow-y:hidden;
	overflow-x:hidden;
}

#utilityPanel h1{
	font-family:Arial, Helvetica, sans-serif;
	font-size:21px;
	font-weight:200;
	color:#1EA53A;
}

#utilityPanel h2{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:500;
	border-bottom:0px none #e5e5e5;
	padding: 8px 0 0px 0;
	margin-top: 10px;
}

.shadow{
	-webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
	/* -moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.4); //x Firefox 22.0: unknown property*/
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
}

select.dropdown{
	width:270px;
	height:30px;
	background: #dfeaeb; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #eeeeee 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#eeeeee 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#eeeeee 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 0%,#eeeeee 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
	border:none;
}
select.dropdown option{
	line-height:30px;
}

/* Panels */

.panel {
	background-color: Window;
	width:257px;
	left:32px;
	height:100%; /*700px;*/
	font-family:Arial, Helvetica, sans-serif;
	color:#555;
	font-size:13px;
	padding-left: 23px;
}
.panel a {
	color:#007ac2;
	text-decoration:none;
}
.panel a:hover {
	color:#000;
	text-decoration:underline;
}
.clear {
	clear:both;
	height:0;
	margin:0;
	padding:0;
}
.space {
	clear:both;
	height:3px;
}
.section {
	margin:25px 0 0 0;
}
.top {
	margin-top:0;
}
.panel h1 {
	color:#30903d;
	font-size:21px;
	font-weight:normal;
	margin-top: 0px;
	margin-left:10px;
	float:left;
}
.panel h2 {
	color:#000;
	font-size:16px;
	font-weight:normal;
	margin: 10px 0 0 0px;
	padding: 0 0 0px;
}

.panel select {
	color:#555;
	font-size:13px;
	font-family:Arial, Helvetica, sans-serif;
	width:290px;
	padding:4px;
	border-top:1px solid #e5e5e5;
	border-right:1px solid #d9d9d9;
	border-bottom:1px solid #ccc;
	border-left:1px solid #d9d9d9;
	/* -moz-border-radius:3px; //x Firefox 22.0: unknown property*/
	-webkit-border-radius:3px;
	-o-border-radius:3px;
	border-radius:3px;
	background: #f7f7f7;
	background: -moz-linear-gradient(top, #f7f7f7 0%, #f0f0f0 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#f0f0f0));
	background: -webkit-linear-gradient(top, #f7f7f7 0%, #f0f0f0 100%);
	background: -o-linear-gradient(top, #f7f7f7 0%, #f0f0f0 100%);
	background: -ms-linear-gradient(top, #f7f7f7 0%, #f0f0f0 100%);
	background: linear-gradient(top, #f7f7f7 0%, #f0f0f0 100%);
	/* IE7: commented to eliminate white background
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7 ', endColorstr='#f0f0f0 ',GradientType=0);
	*/
}
.panel ul {
	margin:0;
	padding:0;
	list-style-type:none;
}
.panel li {
	margin:0;
	padding: 0 0 5px;
	list-style-type:none;
}
.panel li:last-child {
	padding:0;
}
.panel li label {
	margin-left:3px;
}
.textfield {
	color:#555;
	font-size:13px;
	font-family:Arial, Helvetica, sans-serif;
	padding:5px;
	border-bottom:1px solid #e5e5e5;
	border-right:1px solid #d9d9d9;
	border-top:1px solid #ccc;
	border-left:1px solid #d9d9d9;
	/* -moz-border-radius:3px; //x Firefox 22.0: unknown property*/
	-webkit-border-radius:3px;
	-o-border-radius:3px;
	border-radius:3px;
	/* -moz-box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.1); //x Firefox 22.0: unknown property*/
	-webkit-box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.1);
	-o-box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
.buttonSelect {
	display:block;
	float:left;
	border-top:2px solid #e4e4e4;
	border-left:2px solid #e4e4e4;
	border-right:4px solid #d4d4d4;
	border-bottom:4px solid #ccc;
	height:86px;
	/* -moz-border-top-left-radius:4px; //x Firefox 22.0: unknown property*/
	-webkit-border-top-left-radius:4px;
	-o-border-top-left-radius:4px;
	border-top-left-radius:4px;
	/* -moz-border-bottom-left-radius:4px; //x Firefox 22.0: unknown property*/
	-webkit-border-bottom-left-radius:4px;
	-o-border-bottom-left-radius:4px;
	border-bottom-left-radius:4px;
	/* -moz-border-top-right-radius:4px; //x Firefox 22.0: unknown property*/
	-webkit-border-top-right-radius:4px;
	-o-border-top-right-radius:4px;
	border-top-right-radius:4px;
	/* -moz-border-bottom-right-radius:4px; //x Firefox 22.0: unknown property*/
	-webkit-border-bottom-right-radius:4px;
	-o-border-bottom-right-radius:4px;
	border-bottom-right-radius:4px;

}
.buttonSelected {
	border-top:4px solid #ccc;
	border-left:4px solid #d4d4d4;
	border-right:2px solid #e4e4e4;
	border-bottom:2px solid #e4e4e4;
}
.buttonSingle {
}
.buttonGrey {
	color:#606060;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	text-shadow:0 1px 0 rgba(255, 255, 255, 1.0);
	text-align:center;
	display:block;
	padding: 2px 0px;
	margin: 0 6px 0 0;
	height:16px;
	border-top:1px solid #e5e5e5;
	border-right:1px solid #d5d5d5;
	border-bottom:1px solid #ccc;
	border-left:1px solid #d5d5d5;
	/* -moz-border-radius:3px; //x Firefox 22.0: unknown property*/
	-webkit-border-radius:3px;
	-o-border-radius:3px;
	border-radius:3px;
	background: #dfeaeb;
	background: -moz-linear-gradient(top, #f7f7f7 0%, #e0e0e0 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#e0e0e0));
	background: -webkit-linear-gradient(top, #f7f7f7 0%,#e0e0e0 100%);
	background: -o-linear-gradient(top, #f7f7f7 0%,#e0e0e0 100%);
	background: -ms-linear-gradient(top, #f7f7f7 0%,#e0e0e0 100%);
	background: linear-gradient(top, #f7f7f7 0%,#e0e0e0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7 ', endColorstr='#e0e0e0 ',GradientType=0);
}
.buttonGrey:hover {
	border-bottom:1px solid #e5e5e5;
	border-left:1px solid #d5d5d5;
	border-top:1px solid #ccc;
	border-right:1px solid #d5d5d5;
}
.buttonGrey:active {
	color:#333;
}

.buttonBlue {
	position:relative;
	float:left;
	color:#fff;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	text-shadow:0 -1px 0 rgba(0, 0, 0, 0.2);
	text-align:center;
	display:block;
	padding: 2px 0px;
	margin: 0 6px 0 0;
	height:16px;
	border-top:1px solid #61aedb;
	border-bottom:1px solid #0170b1;
	border-left:1px solid #61aedb;
	border-right:1px solid #0170b1;
	/* -moz-border-radius:3px; //x Firefox 22.0: unknown property*/
	-webkit-border-radius:3px;
	-o-border-radius:3px;
	border-radius:3px;
	background: #3698d2;
	background: -moz-linear-gradient(top, #3698d2 0%, #027bc3 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3698d2), color-stop(100%,#027bc3));
	background: -webkit-linear-gradient(top, #3698d2 0%,#027bc3 100%);
	background: -o-linear-gradient(top, #3698d2 0%,#027bc3 100%);
	background: -ms-linear-gradient(top, #3698d2 0%,#027bc3 100%);
	background: linear-gradient(top, #3698d2 0%,#027bc3 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3698d2 ', endColorstr='#027bc3 ',GradientType=0);

}


.buttonBlue:hover {
	border-bottom:1px solid #61aedb;
	border-top:1px solid #0170b1;
	border-right:1px solid #61aedb;
	border-left:1px solid #0170b1;
}

.buttonBlue:active {
	color:#eee;
}

.right {
	float:right;
	margin-right:0;
}

.progressbarComplete {
	height:12px;
	float:left;
	margin:8px 0 0 0;
	border-top:1px solid #8dcb6e;
	border-bottom:1px solid #339d40;
	/* -moz-border-top-left-radius:3px; //x Firefox 22.0: unknown property*/
	-webkit-border-top-left-radius:3px;
	-o-border-top-left-radius:3px;
	border-top-left-radius:3px;
	/* -moz-border-bottom-left-radius:3px; //x Firefox 22.0: unknown property*/
	-webkit-border-bottom-left-radius:3px;
	-o-border-bottom-left-radius:3px;
	border-bottom-left-radius:3px;
	background: #6dbd48;
	background: -moz-linear-gradient(top, #6dbd48 0%, #3bae46 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6dbd48), color-stop(100%,#3bae46));
	background: -webkit-linear-gradient(top, #6dbd48 0%,#3bae46 100%);
	background: -o-linear-gradient(top, #6dbd48 0%,#3bae46 100%);
	background: -ms-linear-gradient(top, #6dbd48 0%,#3bae46 100%);
	background: linear-gradient(top, #6dbd48 0%,#3bae46 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6dbd48 ', endColorstr='#3bae46 ',GradientType=0);
}
.progressbarIncomplete {
	height:12px;
	float:left;
	margin:8px 0 0 0;
	border-top:1px solid #d1d1d1;
	border-bottom:1px solid #f4f4f4;
	/* -moz-border-top-right-radius:3px; //x Firefox 22.0: unknown property*/
	-webkit-border-top-right-radius:3px;
	-o-border-top-right-radius:3px;
	border-top-right-radius:3px;
	/* -moz-border-bottom-right-radius:3px; //x Firefox 22.0: unknown property*/
	-webkit-border-bottom-right-radius:3px;
	-o-border-bottom-right-radius:3px;
	border-bottom-right-radius:3px;
	background: #e7e7e7;
	background: -moz-linear-gradient(top, #e7e7e7 0%, #f1f1f1 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e7e7e7), color-stop(100%,#f1f1f1));
	background: -webkit-linear-gradient(top, #e7e7e7 0%,#f1f1f1 100%);
	background: -o-linear-gradient(top, #e7e7e7 0%,#f1f1f1 100%);
	background: -ms-linear-gradient(top, #e7e7e7 0%,#f1f1f1 100%);
	background: linear-gradient(top, #e7e7e7 0%,#f1f1f1 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e7e7e7 ', endColorstr='#f1f1f1 ',GradientType=0);
}

/* Zoom slider styles */

.claro .dijitSliderActive .dijitSliderDecrementIconH, .claro .dijitSliderActive .dijitSliderIncrementIconH, .claro .dijitSliderActive .dijitSliderDecrementIconV, .claro .dijitSliderActive .dijitSliderIncrementIconV, .claro .dijitSliderHover .dijitSliderDecrementIconH, .claro .dijitSliderHover .dijitSliderIncrementIconH, .claro .dijitSliderHover .dijitSliderDecrementIconV, .claro .dijitSliderHover .dijitSliderIncrementIconV {
	border-bottom:1px solid #b3b3b3;
	border-right:1px solid #bfbfbf;
	border-top:1px solid #ccc;
	border-left:1px solid #bfbfbf;
}
.claro .dijitSliderDecrementIconH, .claro .dijitSliderIncrementIconH, .claro .dijitSliderDecrementIconV, .claro .dijitSliderIncrementIconV {
	border-bottom:1px solid #b3b3b3;
	border-right:1px solid #bfbfbf;
	border-top:1px solid #ccc;
	border-left:1px solid #bfbfbf;
	/* -moz-border-radius:50%; //x Firefox 22.0: unknown property*/
	-webkit-border-radius:50%;
	-o-border-radius:50%;
	border-radius:50%;
	/* -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); //x Firefox 22.0: unknown property*/
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	-o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.claro .dijitSliderDecrementIconV, .claro .dijitSliderIncrementIconV {
	height: 22px;
	width: 22px;
}
.claro .dijitSliderDecrementIconH, .claro .dijitSliderIncrementIconH, .claro .dijitSliderDecrementIconV, .claro .dijitSliderIncrementIconV {
	background-image: url('../images/zoom.png');
}
.claro .dijitSliderIncrementIconV {
	background-position: 0 0;
	margin-bottom:2px;
}
.claro .dijitSliderDecrementIconV {
	background-position: -22px 0;
	margin-top:2px;
}
.claro .dijitSliderImageHandleV {
	height: 7px;
	width: 26px;
	border-bottom:1px solid #b3b3b3;
	border-right:1px solid #bfbfbf;
	border-top:1px solid #ccc;
	border-left:1px solid #bfbfbf;
	/* -moz-border-radius:2px; //x Firefox 22.0: unknown property*/
	-webkit-border-radius:2px;
	-o-border-radius:2px;
	border-radius:2px;
	background: #fff;
	background: -moz-linear-gradient(top, #fff 0%, #f1f1f1 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,#f1f1f1));
	background: -webkit-linear-gradient(top, #fff 0%,#f1f1f1 100%);
	background: -o-linear-gradient(top, #fff 0%,#f1f1f1 100%);
	background: -ms-linear-gradient(top, #fff 0%,#f1f1f1 100%);
	background: linear-gradient(top, #fff 0%,#f1f1f1 100%);
	/* IE: commented to prevent the blue color of the slider handle
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff ', endColorstr='#f1f1f1 ',GradientType=0);
	*/
	/* -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); //x Firefox 22.0: unknown property*/
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	-o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.claro .dijitSlider .dijitSliderProgressBarV, .claro .dijitSlider .dijitSliderBottomBumper {
	background-color: #e8e8e8;
	border-color: #c7c7c7;
	background-image:none;
}
.claro .dijitSlider .dijitSliderRemainingBarV, .claro .dijitSlider .dijitSliderTopBumper {
	border-color: #c7c7c7;
}
.claro .dijitTooltip {
	color:#555;
	font-size:13px;
	text-shadow:0 -1px 0 rgba(0, 0, 0, 0.2);
}
.nonModal_underlay { /* Makes dojo.Dialog with class .nonModal non-modal */
	display:none
}

.fServiceSelector
{
	width: 250px;
}

.mapMenu
{
	font-family: "Arial";
	font-size: 12px;
}

.layerItem
{
	height:50px;
	width:auto;
	text-align:left;
}
.layerImg
{
	height:100%;
	width:auto;
}
.layerItemLabel
{
	height:100%;
	font-family: "Arial";
	font-size: 12px;
	word-wrap:normal;
	position:relative;
	top:0px;
	left:5px;
}
.fServiceItem
{
	border: 5px solid transparent;
	width:95%;
	height:60px;
	list-style:none;
	float:left;
}
.fServiceItemSelected
{
	width:95%;
	height:60px; 
	list-style:none;
	float:left;
	text-align:left;
	border:5px solid transparent;
	background-color: #b9ddfb; 
}
.fServiceItemSelected:hover
{
	background-color: #519ecb; 
}
.fServiceItem:hover 
{
	background-color: #ddd;
}

#statusPane
{
	height:10px;
	overflow:hidden;
}

#infoPane  
{
	position:absolute;
	height:100%;
	width:100%;
}

#spContent1
{
	position:absolute;
	left:0px;
	width:320px;
	height:100%;
	margin-top:-5px;
	background-color: #eee;
}
#spContent2
{
	position:absolute;
	left:320px;
	width:100%;
	height:100%;
	margin-top:-5px;
	border-left-width:1px;
	border-left-style: solid;
	border-left-color: #ddd;
	background-color: #eee;
}
.statusbar
{
	float:left;
	text-align:left;
	font-family: "Arial";
	font-size: 14px;
	text-shadow:0 -1px 0 rgba(0, 0, 0, 0.2);
	margin-left:5px;
	margin-top:3px;
	background-color: #eee;
}

.statusbar2
{
	text-align:left;
	font-family: "Arial";
	font-size: 14px;
	text-shadow:0 -1px 0 rgba(0, 0, 0, 0.2);
	margin-left:5px;
	margin-top:-13px;
	position:relative;
	top:-20px;
	left:170px;
}
button, select, input
{
border:1px solid;
height:19px;
}

input[type=text]
{
height:16px;
}

#content 
{
	position:absolute;
}

#content ul {
    padding:0px;
}

#content ul li {
margin:3px 0px 3px 0px;
}

#panelOpener{
	position:absolute;
	height:100%;
	left:0px;
	top:0px;
	width:38px;
	padding-top:10px;
	border: 1px solid #bfbfbf;
	background-color: #eee;
	
}

.close-button{
	position:absolute; /* IE7: Fix the */
	top: 8px; /* incorrect positioning of header */
	right:0px; /* which follows the close button */
	width:38px;
	height:38px;
	display:block;
	cursor:pointer;
	z-index:800;
	float:right;
	background:url('../images/aii-sprite.png') 0 -188px no-repeat;
}
.close-button:hover{
	background-position:-38px -188px;
}
.close-cross{
	position:absolute; /* IE7: Fix the */
	top: 8px; /* incorrect positioning of header */
	right:0px; /* which follows the close button */
	width:24px;
	height:38px;
	display:block;
	cursor:pointer;
	z-index:800;
	float:right;
	background:url('../images/aii-sprite.png') -75px -230px no-repeat;
}
.close-cross:hover{
	background-position:-94px -230px;
}

.serviceList-tab{
	background:transparent url('../images/aii-sprite.png') -2px 0px no-repeat;
	height:42px;
	width:38px;
}
.serviceList-tab-active{
	background:transparent url('../images/aii-sprite.png') -40px -0px no-repeat;
}
.serviceList-tab:hover, .serviceList-tab-active:hover{
	background-position: -78px -0px;
}

.layerList-tab{
	background:transparent url('../images/aii-sprite.png') -2px -40px no-repeat;
	height:42px;
	width:38px;
}
.layerList-tab-active{
	background:transparent url('../images/aii-sprite.png') -40px -40px no-repeat;
}
.layerList-tab:hover, .layerList-tab-active:hover{
	background-position: -78px -40px;
}

#panelOpener .un	{
	position:relative;
	height:33px;
	width:35px;
	margin: 0 0 6px 0;
	border:1px solid #f2f2f2;
	border-right:none;
	padding:0;
	z-index:1;
	cursor:pointer;
	right:-3px;

}
#panelOpener .selected{
	position:relative;
	height:33px;
	width:35px;
	margin: 0 0 6px 0;
	background-color:#fff;
	border:1px solid #dedede;
	border-right:	none;
	cursor:default;
	padding:0;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	/* -moz-border-radius-topleft: 3px; //x Firefox 22.0: unknown property*/
	/* -moz-border-radius-bottomleft: 3px; //x Firefox 22.0: unknown property*/
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	right:-3px;
	 z-index : 1;

}

.closed-state{
	display:none !important;
}
#bottomSection {
	position: absolute;
	bottom:3px;
}
#runServiceBtn{
	position: relative;
	float:right;
	margin-top:-18px;
	margin-left:10px;
	
}
#zoomToLayers {
	position: relative;
	height: 16px;
	top:5px;
}

.fLayerItem
{
	border: 5px solid transparent;
	width:95%;
	height:60px;
	list-style:none;
	float:left;
	border:1px solid #eee;
}
.fLayerItemSelected
{
	width:95%;
	height:60px; 
	list-style:none;
	float:left;
	text-align:left;
	border:5px solid transparent;
	background-color: #b9ddfb; 
}
.fLayerItemSelected:hover
{
	background-color: #519ecb; 
}
.fLayerItem:hover 
{
	background-color: #ddd;
}
.layerButtons{
	position:relative;
	float:right;
	height:15px;
	width:40px;
	top:-50px;
	background-color: #eee;
}
.closeLayer{
	position:absolute; /* IE7: Fix the */
	top: 0px;
	right:0px; /* which follows the close button */
	width:18px;
	height:18px;
	display:block;
	cursor:pointer;
	z-index:800;
	float:right;
	background: url('../images/aii-sprite.png') -50px -260px no-repeat;
}
.closeLayer:hover{
	background-position: -65px -260px;
}

.downLayer{
	position:absolute; /* IE7: Fix the */
	left:10px; /* which follows the close button */
	width:13px;
	height:13px;
	display:block;
	cursor:pointer;
	z-index:800;
	float:right;
	
	background: url('../images/aii-sprite.png') -83px -252px no-repeat;
}
.downLayer:hover{
	background-position: -97px -252px;
}
.upLayer{
	position:absolute; /* IE7: Fix the */
	left:0px; /* which follows the close button */
	width:13px;
	height:13px;
	display:block;
	cursor:pointer;
	z-index:800;
	float:right;
	
	background: url('../images/aii-sprite.png') -83px -267px no-repeat;
}
.upLayer:hover{
	background-position: -97px -267px;
}
