/*Your styles*/


#content {
    width:100%;
    height: 100%
}


#btn_test{
    width: 100%;
}

#mainPanel{
	width:250px;
	height:580px;
	border-style:ridge;
	border-width:thick;
	border-radius:5px;
    float:left;
    position:relative;
}

#mapPanel {
	width:512px;
	height:580px;
    position:absolute;
    top:0px;
    left:270px;
}

#mapDiv {
    height: 512px;
    width: 510px;
}

.tabPane {
	border-top:ridge medium;
	border-top-radius:3px;
	width:187px;
	float:right;
}

.tabTitle {
	height:15px;
}

.mainBorderColor {
}

.bgTabColor {
}

.fnTabColor {
    color:#F0F0F0;
}

.visibleTab {
	display:block;
}
.toolBar {
	position:absolute;
	bottom:0px;
	width:98%
}
.hiddenTab {
	display:none;
}

.searchBorder {
   border:none;
}

.inputWd {
    width:40px;
}

.selectWidth {
    width:100%;
}

.selected {
	width:60px;
	border-top:ridge medium;
	border-top-radius:3px;
	border-bottom:ridge medium;
	border-bottom-radius:3px;
	border-left:ridge medium;
	border-left-radius:3px;
}

.unselected {
	width:55px;
	border-width:medium;
	border-style:ridge;
	border-radius:3px;
}

.bottomLine {
    border-bottom:ridge;
    height: 25px;
    width: 100%;
    vertical-align: middle;
}

.imageSize {
    width: 16px;
    height: 16px;
}

.serviceItem {
    padding: 3px;
    border-style:solid;
    border-width:1px;
}

.selectedItem {
    background-color: #728DA5;
}

.textMargs {
    margin-left: 10px;
    margin-bottom: 3px;
}

.layerMargs {
    margin-left: 25px;
}

.blueFont {
    color: #6699FF;
}

.redFont {
    color: #FF6633;
}

.mapBorder {
    border-style:ridge;
    border-width:thick;
    border-radius:5px;
}

#upperToolBar {
    height: 40px;
}

.layerBG {
    background-image: url("../icons/WhiteCircle.png");
    background-repeat: no-repeat;
    background-position: 15px 0px;
}


/*
Those classes will be edited at runtime with values specified
by the settings of the CC application
*/
.hostFontColor{}
.hostFontFamily{}
.hostFontSize{}

/*font family, color and size*/
.hostFont{}
/*background color*/
.hostBgd{}
/*lighter background color*/
.hostBgdLight{}
/*darker background color*/
.hostBgdDark{}
/*background color and font*/
.hostElt{}


.hostButton{
    border:1px solid;
    border-radius:2px;
    height:20px;
    vertical-align:bottom;
    font-family:inherit;
    color:inherit;
    font-size:inherit;
}